body, html {
  border: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  scroll-behavior: smooth;
  background: url(https://user-images.githubusercontent.com/78669960/168137576-2b24171f-bdb8-4b60-91c8-6dffb3472dd2.png) center center/cover no-repeat;
  background-attachment: fixed;
}

.logo {
  margin-left: 15px;
  margin-top: 15px;
  width: 50px;
  position: fixed;
}

.icon {
  font-size: 30px;
  width: 50px;
  position: fixed;
  color: rgba(255, 255, 255, 0.7);
}
.icon:hover {
  color: rgb(124, 108, 188);
}

.header-icon {
  margin-left: 22px;
  margin-top: 100px;
}

.about-me-icon {
  margin-left: 25px;
  margin-top: 150px;
}

.games-icon {
  margin-top: 200px;
  margin-left: 19px;
}

.code-icon {
  margin-top: 250px;
  margin-left: 19px;
}

.website-icon {
  margin-top: 300px;
  margin-left: 22px;
}

.back-arrow-container {
  margin-left: 15px;
  margin-top: 15px;
}
.back-arrow-container .back-arrow {
  color: rgba(255, 255, 255, 0.7);
  font-size: max(2vw, 20px);
  text-decoration: none;
  font-family: "Maven Pro", sans-serif;
  cursor: pointer;
  z-index: 1;
}
.back-arrow-container .back-arrow:hover {
  transform: scale(1.2);
  color: rgb(124, 108, 188);
}

.arrow-container {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
}
.arrow-container .down-icon {
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.7);
  font-size: max(2vw, 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 1;
}
.arrow-container .down-icon:hover {
  transform: scale(1.2);
  color: rgb(124, 108, 188);
}

.next-page-arrow {
  color: rgba(255, 255, 255, 0.7);
  font-size: max(2vw, 20px);
}
.next-page-arrow:hover {
  color: rgb(124, 108, 188);
}

.next-page-arrow-games {
  color: rgba(255, 255, 255, 0.7);
  font-size: max(1vw, 15px);
}
.next-page-arrow-games:hover {
  color: rgb(124, 108, 188);
}

.github-container {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  position: fixed;
  z-index: 1;
}
.github-container .github-icon {
  bottom: 0;
  left: 0;
  position: fixed;
  color: rgba(255, 255, 255, 0.7);
  font-size: max(2vw, 20px);
  margin-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.github-container .github-icon:hover {
  transform: scale(1.2);
}

.github-text {
  font-weight: bolder;
  font-size: max(6vw, 35px);
}

.unity-main-menu-text {
  margin-top: 250px;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: white;
  justify-content: flex-start;
}

.title-container {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  width: 600px;
}
.title-container .section-title {
  margin: 10px;
  font-size: 50px;
  font-family: "Maven Pro", sans-serif;
  color: white;
  display: flex;
  align-items: center;
  text-align: center;
  width: 600px;
  text-decoration: solid;
}

.section-text {
  float: right;
  font-size: max(1vw, 15px);
  font-family: "Maven Pro", sans-serif;
  overflow: hidden;
  margin-left: 50px;
  width: 50%;
}

.section-image {
  width: max(20vw, 200px);
  height: auto;
  border: 2px solid #fff;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.cambot-image, .mobcontracts-image {
  width: max(20vw, 200px);
  height: auto;
}

.other-image {
  width: max(12vw, 200px);
  height: auto;
}

.jess-image {
  width: max(22vw, 200px);
  height: auto;
  border: 2px solid #fff;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.pesky-image {
  width: max(30vw, 200px);
  height: auto;
  border: 2px solid #fff;
  -moz-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
}

.container {
  width: 80%;
  display: flex;
  flex-direction: row;
}

.centered {
  margin: auto;
  margin-left: 500px;
}

.github-link {
  text-decoration: none;
  color: white;
  font-family: "Maven Pro", sans-serif;
  font-weight: bolder;
}
.github-link:hover {
  color: rgb(106, 106, 106);
}

.header-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  color: white;
}
.header-section .banner-content {
  margin: auto;
}
.header-section .banner-content .banner-title {
  font-family: "Maven Pro", sans-serif;
  font-weight: bolder;
  text-align: center;
  font-size: max(4vw, 30px);
  letter-spacing: 0.1vw;
  margin-top: -4rem;
}
.header-section .banner-content .banner-subtitle {
  font-family: "Maven Pro", sans-serif;
  font-size: max(1vw, 9px);
  margin-top: -4vw;
  margin-bottom: 5vw;
  color: hsl(0deg, 0%, 95%);
  font-weight: bolder;
}

/*# sourceMappingURL=index.css.map */
